.Sixers {
  background: linear-gradient(rgba(0, 107, 182, 0.8), rgba(0, 107, 182, 3)),
    url("../images/logos/76ers.svg");
  background-color: #006bb6;
}

.Bucks {
  background: linear-gradient(rgba(0, 71, 27, 0.8), rgba(0, 71, 27, 3)),
    url("../images/logos/Bucks.svg");
  background-color: #00471b;
}

.Bulls {
  background: linear-gradient(rgba(206, 17, 65, 0.8), rgba(206, 17, 65, 3)),
    url("../images/logos/Bulls.svg");
  background-color: #ce1141;
}

.Celtics {
  background: linear-gradient(rgba(0, 122, 51, 0.8), rgba(0, 122, 51, 3)),
    url("../images/logos/Celtics.svg");
  background-color: #007a33;
}

.Clippers {
  background: linear-gradient(rgba(200, 16, 46, 0.8), rgba(200, 16, 46, 3)),
    url("../images/logos/Clippers.svg");
  background-color: #c8102e;
}

.Grizzlies {
  background: linear-gradient(rgba(93, 118, 169, 0.8), rgba(93, 118, 169, 3)),
    url("../images/logos/Grizzlies.svg");
  background-color: #5d76a9;
}

.Hawks {
  background: linear-gradient(rgba(200, 16, 46, 0.8), rgba(200, 16, 46, 3)),
    url("../images/logos/Heat.svg");
  background-color: #c8102e;
}

.Heat {
  background: linear-gradient(rgba(152, 0, 46, 0.8), rgba(152, 0, 46, 3)),
    url("../images/logos/Heat.svg");
  background-color: #98002e;
}

.Hornets {
  background: linear-gradient(rgba(29, 17, 96, 0.8), rgba(29, 17, 96, 3)),
    url("../images/logos/Hornets.svg");
  background-color: #1d1160;
}

.Jazz {
  background: linear-gradient(rgba(0, 43, 92, 0.8), rgba(0, 43, 92, 3)),
    url("../images/logos/Jazz.svg");
  background-color: #002b5c;
}

.Knicks {
  background: linear-gradient(rgba(245, 132, 38, 0.8), rgba(245, 132, 38, 3)),
    url("../images/logos/Knicks.svg");
  background-color: #f58426;
}

.Lakers {
  background: linear-gradient(rgba(85, 37, 131, 0.8), rgba(85, 37, 131, 3)),
    url("../images/logos/Lakers.svg");
  background-color: #552583;
}

.Mavericks {
  background: linear-gradient(rgba(0, 83, 140, 0.8), rgba(0, 83, 140, 3)),
    url("../images/logos/Mavericks.svg");
  background-color: #00538c;
}

.Nets {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 3)),
    url("../images/logos/Nets.svg");
  background-color: #000000;
}

.Pacers {
  background: linear-gradient(rgba(0, 45, 98, 0.8), rgba(0, 45, 98, 3)),
    url("../images/logos/Pacers.svg");
  background-color: #002d62;
}

.Pelicans {
  background: linear-gradient(rgba(12, 35, 64, 0.8), rgba(12, 35, 64, 3)),
    url("../images/logos/Pacers.svg");
  background-color: #0c2340;
}

.Pistons {
  background: linear-gradient(rgba(200, 16, 46, 0.8), rgba(200, 16, 46, 3)),
    url("../images/logos/Pistons.svg");
  background-color: #c8102e;
}

.Raptors {
  background: linear-gradient(rgba(206, 17, 65, 0.8), rgba(206, 17, 65, 3)),
    url("../images/logos/Raptors.svg");
  background-color: #ce1141;
}

.Rockets {
  background: linear-gradient(rgba(206, 17, 65, 0.8), rgba(206, 17, 65, 3)),
    url("../images/logos/Rockets.svg");
  background-color: #ce1141;
}

.Spurs {
  background: linear-gradient(rgba(196, 206, 212, 0.8), rgba(196, 206, 212, 3)),
    url("../images/logos/Spurs.svg");
  background-color: #c4ced4;
}

.SuperSonics {
  background: linear-gradient(rgba(20, 75, 50, 0.8), rgba(20, 75, 50, 3)),
    url("../images/logos/SuperSonics.svg");
  background-color: #144b32;
}

.Timberwolves {
  background: linear-gradient(rgba(12, 35, 64, 0.8), rgba(12, 35, 64, 3)),
    url("../images/logos/Timberwolves.svg");
  background-color: #0c2340;
}

.TrailBlazers {
  background: linear-gradient(rgba(224, 58, 62, 0.8), rgba(224, 58, 62, 3)),
    url("../images/logos/TrailBlazers.svg");
  background-color: #e03a3e;
}

.Warriors {
  background: linear-gradient(rgba(29, 66, 138, 0.8), rgba(29, 66, 138, 3)),
    url("../images/logos/Warriors.svg");
  background-color: #1d428a;
}

.Draft {
  background: linear-gradient(rgba(29, 66, 138, 0.8), rgba(29, 66, 138, 3)),
    url("../images/logos/NBA-DraFT.webp");
  background-color: #1d428a;
}
